[submodule "Gaze/Packages/spdlog"]
	path = Gaze/Packages/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Gaze/Packages/GLFW"]
	path = Gaze/Packages/GLFW
	url = https://github.com/laohuu/glfw.git
[submodule "Gaze/Packages/imgui"]
	path = Gaze/Packages/imgui
	url = https://github.com/laohuu/imgui.git
[submodule "Gaze/Packages/glm"]
	path = Gaze/Packages/glm
	url = https://github.com/laohuu/glm
[submodule "Gaze/Packages/stb"]
	path = Gaze/Packages/stb
	url = https://github.com/laohuu/stb.git
[submodule "Gaze/Packages/yaml-cpp"]
	path = Gaze/Packages/yaml-cpp
	url = https://github.com/laohuu/yaml-cpp.git
[submodule "Gaze/Packages/ImGuizmo"]
	path = Gaze/Packages/ImGuizmo
	url = https://github.com/laohuu/ImGuizmo.git
